html, body{
	font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
}

body{
	margin: 0 20% 0 20%;
	background-color: #f3f3f3;
}

h1, h2{
	font-family: 'Rokkitt', 'Helvetica', 'Arial',  sans-serif;
}

.i{
	margin: 0 0 0 0;
	position: relative;
	top: 17px
}

#cv .mainDetails {
	margin-top: 20px;
}

#cv .mainDetails #name {
	margin-top: 1px;
}

#cv .mainDetails .clear + .clear1{
	border-bottom: 2px solid #cf8a05;
	margin-top: 30px;
}

#headshot img {
	width: 12.5%;
	float: left;
	margin-right: 30px;
	border-radius: 100%;
}


#name {
	float: left;
	position: relative;
	bottom: 7px;
}

#contactDetails {
	float: right;
	margin-top: 20px;
	margin-right: 50px;
}

#contactDetails ul li a {
	color: #181818;
	text-decoration: none;
}

section{
	border-bottom: 1px solid #dedede;
	margin: 10px 20px 0 0;
}

.sectionTitle {
	float: left;
	width: 27%;
	color: #cf8a05;
	margin-left: 18px;
}

h2, p {
	color: #444444;
}

#mainArea .sectionTitle h1{
	font-size: 30px;
}

article:first-of-type{
	margin-bottom: 18px;
}

.sectionContent {
	display: inline-block;
	width: 50.5%;
	margin: 10px 0 0 20px;
	color: #444444;
}

.sectionContent .keySkills {
	column-count: 3;
	padding: 0;
}

li{
	list-style-type: none;
}

.clear {
	clear: both;
}

p:not(.nega){
	position: relative;
	bottom: 20px;
}

.subDetails{
	margin: 0 0 0;
} 

p:first-of-type{
	margin-top: 18px;
}

p{
	margin: 0;
}


