body{
	margin: 0 20% 0 20%;
}

#cv .mainDetails {
	margin-top: 20px;
}

#cv .mainDetails #name {
	margin-top: 8px;
}

#cv .mainDetails .clear + .clear1{
	border-bottom: 2px solid orange;
}

#headshot img {
	width: 12.5%;
	float: left;
	margin-right: 30px;
	border-radius: 100%;
}

#name {
	float: left;
}

#contactDetails {
	float: right;
	margin-top: 20px;
	margin-right: 50px;
}

.sectionTitle {
	float: left;
	width: 19%;
	color: darkorange;
	margin-left: 18px;
	font-family: sans-serif;
}

.sectionContent {
	display: inline-block;
	width: 71.5%;
	height: 100%;
	text-align: left;
	font-family: Helvetica;
}

.sectionContent .keySkills {
	column-count: 3;
}

li{
	list-style-type: none;
}

.clear {
	clear: both;
}

.clear1{
	border-bottom: 1px solid lightgrey;
}
